h1 {
  background-color: aqua;
  height: 100px;
  border: 2px solid red;
}

h3{  background-color: aqua;
  height: 100px;
  border: 2px solid red;}
h2{  background-color: aqua;
  height: 100px;
  border: 2px solid red;}
p {
  background-color: aqua;
  height: 300px;
  border: 3px solid green;
}
